.col-1 {width: $dist-1;}
.col-2 {width: $dist-2;}
.col-3 {width: $dist-3;}
.col-4 {width: $dist-4;}
.col-5 {width: $dist-5;}
.col-6 {width: $dist-6;}
.col-7 {width: $dist-7;}
.col-8 {width: $dist-8;}
.col-9 {width: $dist-9;}
.col-10 {width: $dist-10;}
.col-11 {width: $dist-11;}
.col-12 {width: $dist-12;}
