@mixin white-box{
	padding: 40px 16px;
	color: $white-color;
}
@mixin header-menu{
	list-style: none;
	display: inline;
	display: flex;
}
@mixin header-menu-item{
	padding:10px;
}
@mixin header-menu-link{
	text-decoration: none;
	
}