$base-color: #967D4E;
$header-color:#35424A;
$white-color:#FFFFFF;
$section-color : #F4F4F4;
$article-color : #E6E6E6;
$border-color : #D7D7D7;

$dist-1:8.33%;
$dist-2:16.66%;
$dist-3:25%;
$dist-4:33.33%;
$dist-5:40.66%;
$dist-6:50%;
$dist-7:58.33%;
$dist-8:66.66%;
$dist-9:75%;
$dist-10:83.33%;
$dist-11:91.66%;
$dist-12:100%;

$bg-slide-img:url(../images/showcase.jpg);